<!DOCTYPE html>
<html>
   <head>
     <title>Fabular</title>
     <link rel="icon" href="static/fabular_icon.jpeg" type="image/jpeg">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
         h1 {
            text-align: center;
            color: blue
         }
         .chat-box {
            border: 1px solid #ccc;
            padding: 10px;
            height: 500px;
            overflow-y: scroll
         }
         form {
            display: flex;
            margin-top: 10px
         }
         button {
            margin-left: 10px;
            color: green
         }
      </style>
      
   </head>
   <body>
     <h1>Chat</h1>
     <div class="chat-box">
        {% for mensagems in mensagen %}
            <div class="message">
                <strong>{{ mensagems.usuario }}</strong>: {{ mensagems.mensagem }}
            </div>
        {% endfor %}
     </div>


     <form action="/enviar_mensagem" method="POST">
        <textarea name="message" placeholder="Digite algo..." required></textarea>
        <button type="submit">Enviar</button>
     </form>

   </body>
</html>
