<!DOCTYPE html>
<html>
   <head>
     <title>Fabular - Cadastro</title>
     <meta name="description" content="Falubar is a free conversation chat made for those who want freedom.">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
     <h1>Cadastro</h1>
     
     <form action="/" method="POST">
        Email: <input type="email" name="email" id="email" required /><br>
        Senha: <input type="password" name="senha" id="senha" required /><br>
        Nome de Usuário: <input type="text" name="usuario" id="usuario" required />
        <input type="submit" value="Cadastrar" /><br>
       ja tem uma conta? <a href="/login">fazer login</a>
     </form>
       
   </body>
</html>

